# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Jupyter Notebook
* R
* Python
* SQL

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
4. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Apache spark
4. Scala
5. Pytorch
6. Scikit
7. TensorFlow

# Data Science Tools

| Data science tools|
|-------------------|
| Jupyter Notebook |
| Jupyter Lab |
| Git Hub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Stephen